@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap');

*{
  padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Serif', serif;

}

.row .leftMain .imgText{
    font-family: 'Roboto Serif', serif;
    font-weight: 700;
    color: #fff;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row .rightMain input{
    width: 91%;
    padding: 14.5px 15px;
    border: 1px solid #e5e5e5;
    outline: none;
    font-family: 'Roboto Serif', serif;
    font-size: 16px;
    color: #333;
}

.col-1{
    width: 8.33%;
}
.col-2{
  width: 16.6%;
}

.col-3{
    width: 25%;
}

.col-4{
    width: 33.33%;
}

.col-5{
    width: 41.66%;
}

.col-6{
    width: 50%;
}

.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}

.col-10{
    width: 83.33%;
}

.col-11{
    width: 91.66%;
}

.col-12{
    width: 100%;
}













