@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto+Mono:wght@200;300&family=Roboto+Serif:wght@300;400&family=Roboto+Slab:wght@400;500&family=Roboto:ital,wght@0,300;0,400;1,400&display=swap");
body {
  width: 100%;
  height: auto;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Roboto Serif', serif;
  font-family: 'Roboto Slab', serif;
}

body main {
  background-color: #fa4251;
  position: relative;
}

body main #regForm {
  width: 30%;
  min-height: 750px;
}

body main #regForm .container .box {
  top: 20%;
  left: 20%;
  position: absolute;
  background-color: #f7f7f7;
  border-radius: 54px;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 550px;
}

body main #regForm .container .box .left-reg {
  background: url(../img/bg-heading-02.jpg) top left/cover no-repeat;
  width: 30%;
  height: 550px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

body main #regForm .container .box .right-reg {
  height: 550px;
  padding: 60px 70px;
  padding-bottom: 88px;
  width: 70%;
  position: absolute;
  top: 0;
  right: 0;
}

body main #regForm .container .box .right-reg .card h2 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 37px;
  font-size: 30px;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body main #regForm .container .box .right-reg .card form {
  padding: -14px;
}

body main #regForm .container .box .right-reg .card form .form-reg {
  width: 100%;
  padding: -3px 0;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 22px;
}

body main #regForm .container .box .right-reg .card form .form-reg input {
  outline: none;
  padding: 9px;
  width: 100%;
  border: none;
  font-weight: 500;
  font-size: 16px;
  color: #666;
}

body main #regForm .container .box .right-reg .card form .form2reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
}

body main #regForm .container .box .right-reg .card form .form2reg .select2-hidden-accessible {
  outline: none;
  font-weight: 500;
  font-size: 16px;
  color: #666;
  width: 100%;
  padding: 8px;
  border: none;
}

body main #regForm .container .box .right-reg .card form .form2reg .form-1 {
  padding: 9px 0;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 32px;
  width: 50%;
}

body main #regForm .container .box .right-reg .card form .form2reg .form-1 input {
  padding: 8px;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  color: #666;
}

body main #regForm .container .box .right-reg .card form .form2reg .form-1 i {
  position: absolute;
  font-size: 18px;
  color: #ccc;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  font-weight: 900;
}

body main #regForm .container .box .right-reg .card form .form2reg .form-1 {
  padding: 9px 0;
  width: 50%;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 32px;
}

body main #regForm .container .box .right-reg .card form .inputGroup {
  padding: -2px 0;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 32px;
}

body main #regForm .container .box .right-reg .card form .inputGroup select {
  width: 100%;
  padding: 8px;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  color: #666;
}

body main #regForm .container .box .right-reg .card form .inputGroup select option {
  color: #fa4251;
}

body main #regForm .container .box .right-reg .card form .form-2 {
  width: 100%;
  position: relative;
  margin-bottom: 32px;
}

body main #regForm .container .box .right-reg .card form .form-2 .form-1 {
  padding: 9px 0;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 32px;
}

body main #regForm .container .box .right-reg .card form .form-2 .form-1 input {
  width: 100%;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  color: #666;
  padding: 9px 0;
}

body main #regForm .container .box .right-reg .card form .btn {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body main #regForm .container .box .right-reg .card form .btn button {
  background: #4dae3c;
  line-height: 40px;
  display: inline-block;
  padding: 0 25px;
  cursor: pointer;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-size: 14px;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 5px;
}
/*# sourceMappingURL=style.css.map */